@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-family: Montserrat, arial;

$primary-color: #82d169;
$secondary-color: #72aa5c;
$tertiary-color: #f8f8ed;
$quaternary-color: rgb(226, 231, 213);
$extra-color: #ebdd23;